<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">shopping_basket</i>click for items overview</div>
        <div class="collapsible-body">
            {{#each cartService.cart.shoppingCartItems as |row|}}
                {{shopping-cart-overview-item item=row}}
            {{/each}}
        </div>
    </li>
</ul>
<blockquote>
    <b> Shipping: </b> <i> free! </i> <br>
    <b>Total: </b> {{total}}
</blockquote>
