<div class='row'>
    <div class='col s12'>
            <label for="card-element">
              Your credit card data
            </label>
            <div id="credit-card-element">
              <!-- a Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors -->
            <div id="credit-card-errors"></div>
          <a class="waves-effect waves-light btn" {{action 'submitPayment'}}>submit payment</a>
    </div>
</div>
{{yield}}
