<div class="parallax-container">
    <div class="parallax"><img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Muuralax.jpeg?alt=media&token=d59f4369-2d6a-479e-b831-128d67a9101a"></div>
  </div>
  <div class="section white">
     {{yield}}
  </div>
