<div class="fabb-carousel">
  {{#swiper-container updateFor=imageSources autoplay=true pagination=false onlyExternal=true followFinger=false speed=5000 effect='fade' slidesPerView=1 spaceBetween=0 centered=true loop=true breakpoints=false}}
    {{#each imageSources as |imageSource|}}
      {{#swiper-slide}}<img class="carouselimage" src={{imageSource}}>{{/swiper-slide}}
    {{/each}}
  {{/swiper-container}}
</div>
{{yield}}
