<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">accessibility</i>size details</div>
    <div class="collapsible-body">

      <table class="striped responsive-table">
        <thead>
          <tr>
              <th>size</th>
              <th>chest</th>
              <th>waist</th>
              <th>hip</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>small</td>
            <td>88 cm</td>
            <td>72 cm</td>
            <td>96 cm</td>
          </tr>
          <tr>
            <td>medium</td>
            <td>94 cm</td>
            <td>78 cm</td>
            <td>102 cm</td>
          </tr>
          <tr>
            <td>large</td>
            <td>101 cm</td>
            <td>85 cm</td>
            <td>109 cm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>
