<div class="parallax-container">
    <div class="parallax">
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/DSC09027%20copia.jpg?alt=media&token=098b1916-a1f1-404c-84a2-8ddcbb876e57">
    </div>
    <div class="parallax parallax2">
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/DSC00114%20copia.jpg?alt=media&token=6a5eaaf8-7303-4a5e-8a7b-3c8de53bf163">
    </div>
  </div>
  <div class="section white">
     {{yield}}
  </div>
