<div class="parallax-container">
    <div class="parallax"><img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/pexels-photo-47401.jpeg?alt=media&token=44d1e47c-b82b-4479-94f9-66588dcfc121"></div>
  </div>
  <div class="section white">
     {{yield}}
  </div>
