<div class="parallax-container">
    <div class="parallax"><img src="http://www.globo-rojo.com/wp-content/uploads/park-guell-view-barcelona.jpg"></div>
  </div>
  <div class="section white">
     {{yield}}
  </div>
