<div class="parallax-container">
    <div class="parallax"><img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/minimalist-fashion-1366x768.jpg?alt=media&token=13dc16e3-499b-414b-8dfa-52e1d5b74290"></div>
  </div>
  <div class="section white">
     {{yield}}
  </div>
