<div id={{id}} class="modal">
<div class="modal-content  light-blue darken-3 white-text">
    <h4>Maxim free try outs reached</h4>
    <h3>Thank you for being so enthousiastic <i class="material-icons prefix">mood</i> </h3>
    <p> We currently allow a maximum of 4 items to be tried out for free </p>
    <p> Please refer to
        {{#link-to 'free-try-out-rules' class="red-text"}}
        the rules
        {{/link-to}}
        for more information.
    </p>
    <p> We <i class="material-icons prefix">favorite_border</i> you </p>
</div>
<div class="modal-footer">
<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" onclick={{action 'onAgree'}}>ok</a>
</div>
</div>
