<div class="fabb-loading-hider">
  <h1 class="center-align">Hold on, we're loading ... </h1>
  <h1 class="center-align fabb-loading-hider-almost">almost there...</h1>
  <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/logomediumcompressed.png?alt=media&token=cf22daf6-1ef8-43ae-bfd6-ed21ee3fc19c" style="height:100px;">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
