<div id={{id}} class="modal">
<div class="modal-content  orange darken-1 white-text">
  {{#if (equal-strings locale "en-gb")}}
    <h4>Nice you want to try out!</h4>
    <i class="material-icons prefix">mood</i>
    <p> Just so you know, we only allow this for Belgium.</p>
    <p> And for a free try, only credit card is allowed</p>
    <p> Please refer to
        {{#link-to 'free-try-out-rules' class="red-text"}}
        the rules
        {{/link-to}}
        for more information.
    </p>
    <p> We <i class="material-icons prefix">favorite_border</i> you </p>
  {{/if}}
  {{#if (equal-strings locale "nl-be")}}
    <h4>MEG FIX THIS !!!</h4>
    <i class="material-icons prefix">mood</i>
    <p> We <i class="material-icons prefix">favorite_border</i> you </p>
  {{/if}}
</div>
<div class="modal-footer">
<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" onclick={{action 'onAgree'}}>ok</a>
</div>
</div>
