<div class="parallax-container">
    <div class="parallax"><img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/park-guell-view-barcelona.jpg?alt=media&token=faba555d-f3e7-45d9-819d-bc083a90cad6"></div>
  </div>
  <div class="section white">
     {{yield}}
  </div>
