<div class="parallax-container">
    <div class="parallax"><img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/testparal.jpg?alt=media&token=983f12fa-f7cb-4418-80b5-154c8aef51b1"></div>
  </div>
  <div class="section white">
     {{yield}}
  </div>
