<div id={{id}} class="modal">
<div class="modal-content grey lighten-5 black-text">
  {{#if (equal-strings locale "en-gb")}}
    <h4>Maximum items for free try out reached</h4>
    <h3>Thank you for being so enthousiastic <i class="material-icons prefix">mood</i> </h3>
    <p> We currently allow a maximum of 4 items to be tried out for free </p>
    <p> Please check
        {{#link-to 'free-try-out-rules' class="blue-text"}}
        the rules
        {{/link-to}}
        for more information.
    </p>
  {{/if}}
  {{#if (equal-strings locale "nl-be")}}
    <h4>Maximum items voor "gratis passen" bereikt</h4>
    <h3>Fijn dat je zo enthousiast bent <i class="material-icons prefix">mood</i> </h3>
    <p> Je kan maar 4 items gratis proberen </p>
    <p> Kijk even naar
        {{#link-to 'free-try-out-rules' class="blue-text"}}
        de spelregels
        {{/link-to}}
        voor meer info.
    </p>
  {{/if}}
</div>
<div class="modal-footer">
<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" onclick={{action 'onAgree'}}>ok</a>
</div>
</div>
