<div class="parallax-container">
    <div class="parallax"><img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/parallax1.jpg?alt=media&token=b868e8c4-72e5-4293-8415-49cf55b68b1b"></div>
  </div>
  <div class="section white">
     {{yield}}
  </div>
