{{#link-to onClickLinkTo id tagName='div' class="card hoverable"}}
    <div class="card-image waves-effect waves-block waves-light">
        <img src={{primaryImageURL}}>
    </div>
    <div class="card-content waves-effect waves-block waves-light">
    <span class="card-title">{{name}}</span>
    <span class="card-title right">{{price}}</span>
    </div>
{{/link-to}}
