  <!-- Dropdown Trigger -->
  <a class='dropdown-button' href='#' data-activates='shopping-cart-menu-button'>
  	
  </a>

  <!-- Dropdown Structure -->
  <ul id='shopping-cart-menu-button' class='dropdown-content'>
  	{{#each cartService.cart.shoppingCartItems as |row|}}
  		<div class="divider"></div>
  		<li> {{shopping-cart-overview-item item=row}} </li>
	{{/each}}
  </ul>

{{yield}}
