<div class="row">
    <div class="col s2">
        <img src={{item.productVariant.product.productImages.firstObject.accessURL}} class="circle">
        <span class="title">name: {{item.productVariant.product.productNames.firstObject.name}}</span>
          <p> size: {{item.productVariant.size.name}} </p>
    </div>
    <div class="col s3">
        {{md-input value=item.quantity label="stock quantity" type="number"}}
        {{#md-btn text='update' action=onUpdate actionArg=item}}{{/md-btn}}
        {{#md-btn text='delete' action=onDelete actionArg=item}}{{/md-btn}}
    </div>
</div>
