// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

.container{
	width: 95%;
}

nav .brand-logo {
    margin-left: 1%;
}

.row .textarea{
	padding-left: 0px;
}

.card .card-image .card-title .right{
    float: right;	
}

.parallax-container {
  height: 400px;
}

.product-details-caroussel{
	width: 100%
}