<h2>check out</h2>
<div class="row">
    <div class="col s12 l6 m12">
        <h4>delivery address</h4>
        <div class="input-field col s12">
            <i class="material-icons prefix">face</i>
            <input  type="text" class="validate autocomplete" name="fname">
            <label for="fname">full name</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input type="email" class="validate autocomplete">
            <label for="email" data-error="wrong" data-success="right">email</label>
        </div>
        <div class="input-field col s8 m10">
            <i class="material-icons prefix">home</i>
            <input type="text" class="validate autocomplete">
            <label for="street" data-error="wrong" data-success="right">street</label>
        </div>
        <div class="input-field col s4 m2 right">
            <input type="text" class="validate autocomplete">
            <label for="streetNumber" data-error="wrong" data-success="right">number, bus</label>
        </div>
        {{place-autocomplete-field value=city
            inputFieldClass='input-field col s8 m8'
            value=city
            icon='home' types='(cities)' iconStyle='display:none;'
            labelFor='cityCountry' labelForText="city, country"
            placeChangedCallback=(action "handleGoogleAddressUpdate")}}
        <div class="input-field col 6 s4 m4 right">
            <input type="text" class="validate" autocomplete="off"
            value={{zip}} placeholder='zip'>
        </div>


    </div>
    <div class="col s12 l6 m12">
        <h4>payment method</h4>
        {{#md-card-collapsible }}
    {{#md-collapsible icon="mdi-creditcard"
        title="credit card"}}

        {{credit-card-payment}}




    {{/md-collapsible}}
    {{#md-collapsible icon="mdi-maps-place"
        title="bancontact"}}

        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
    {{/md-collapsible}}
    {{#md-collapsible icon="mdi-social-whatshot"
        title="ideal"}}

        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
    {{/md-collapsible}}
{{/md-card-collapsible}}
    </div>
</div>
{{outlet}}
