<div class="row">
<h2>shopping cart</h2>
	<div class="col s12 m8 l8">
	<h3>items</h3>
		{{#each cartService.cart.shoppingCartItems as |row|}}
		  {{shopping-cart-overview-item item=row}}
		{{/each}}
	</div>
		<div class="col s12 m4 l4">
		<h3>subtotals</h3>
		<div class="row">
			<span><b>Total: </b> 100</span>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input placeholder="enter your voucher code" type="text" class="validate">
		    </div>
		</div>
		<div class="row">
			<a class="waves-effect waves-light btn" {{action 'addToCart' data.id productSizeID}}>shop more!</a>
			<a class="waves-effect waves-light btn" {{action 'addToCart' data.id productSizeID}}>checkout!</a>
		</div>
	</div>
</div>
