<div class="row">
<h2>shopping cart</h2>
	{{#if hasItems}}
		<div class="col s12 l8">
            <table>
                <thead>
                    <tr>
                        <th>item</th>
                        <th>size</th>
                        <th>units</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cartService.cart.shoppingCartItems as |row|}}
                      {{shopping-cart-overview-row item=row}}
                    {{/each}}
                </tbody>

            </table>
		</div>

		<div class="col s12 m12 l4">
			<div class="row">
                <div class="section">
                <span class="checkout-total-hd">VAT: </span>: <span class="checkout-total-d"> 21 &euro; (.incl)</span>
                </div>
            <div class="divider"></div>
            <div class="section">
                <span class="checkout-total-hd">shipping </span>: <span class="checkout-total-d"> free </span>
            </div>
            <div class="divider"></div>
            <div class="section">
                <span class="checkout-total-gran-total">grand total</span>: <span class="checkout-total-d"> {{total}}  &euro; </span>
            </div>
            <div class="section">
                Please note the delivery of your goods may take up to five days
            </div>
			</div>
			<div class="row">
                <div class="col s12">
                    {{#link-to 'index' class="left waves-effect waves-light btn"}}shop more!{{/link-to}}
                    {{#link-to 'shopping-cart.checkout' class="right waves-effect waves-light btn"}}checkout!{{/link-to}}
                </div>
			</div>
		</div>
        {{else}}
            <h3> oooh seems you haven't any items... yet </h3>
        {{/if}}
</div>
