<div class="row">
<h2>shopping cart</h2>
	{{#if hasItems}}
		<div class="col s12 m6 l6">
		<h3>items</h3>
			{{#each cartService.cart.shoppingCartItems as |row|}}
			  {{shopping-cart-overview-item item=row}}
			{{/each}}
		</div>
		<div class="col s12 m5 l5 push-m1 push-l1">
			<h3>subtotals</h3>
			<div class="row">
				<span><b>Total: </b> {{total}}</span>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input placeholder="enter your voucher code" type="text" class="validate">
			    </div>
			</div>
			<div class="row">
				{{#link-to 'index' class="waves-effect waves-light btn"}}shop more!{{/link-to}}
                {{#link-to 'shopping-cart.checkout' class="waves-effect waves-light btn"}}checkout!{{/link-to}}
			</div>
		</div>
	{{else}}
	<h3> oooh seems you haven't any items... yet </h3>
	{{/if}}
</div>
