<h5>overview product audiences</h5>
{{#md-table content=model as |row|}}
    {{md-table-col row=row valueBindingPath='label'}}
    {{md-table-col row=row valueBindingPath='name'}}
    {{#md-table-col row=row key='name' header='action'}}
        {{md-btn class='btn-back white-text' text='delete' action='delete' actionArg=row.id}}
    {{/md-table-col}}
{{/md-table}}
