<h1>add a product size</h1>

{{md-input label='size name'  value=model.sizeName class="col s12" }}
{{#link-to 'admin.product-sizes'}}{{md-btn text='back' action='deactivate'}}{{/link-to}}
{{#md-btn text='Add' action='save'  actionArg=model}}{{/md-btn}}
{{outlet}}


{{outlet}}
