<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>fabbrikka order confirmation</title>
    </head>
    <body>

        <div style="width: 100%; float: left;">
            Dear {{ order.customer.name }},

            <br /><br />
            Thank you very much for ordering at fabbrikka!
            <br /><br />
            <h3>Order Summary</h3>
            <br />
            Your order id is: {{ order.id }}
            <br />
            <h4>products overview </h4>
            <br />

            {% for order_item in order.orderItems %}:

            <div style="width: 100%; float: left;">
                <div style="width: 100%; float: left; margin-bottom: 10px;">
                    <img src="{{ order_item.image_url }}" style="width: 150px;">
                </div>
                <div style="width: 33%; float: left;">
                    <b> Name: </b> {{ order_item.name }}
                    <br />
                    <br />
                    <b> Size: </b> {{ order_item.size }}
                    <br />
                    <br />
                    <b> Quantity: </b> {{ order_item.quantity }}
                    <br />
                    <br />
                    <b> Price: </b> {{ order_item.price }}
                    <br />
                    <br />
                    {% if order_item.isTryOut %}

                        🎉 <b> It's a free try, enjoy! </b> 🎉
                        <br />
                         <br />
                    {% endif %}
                </div>
            </div>

            {% endfor %}

            <div style="width: 100%; float: left;">
                <br/>
                <b>Total price: </b> {{ order.total }} euro
                <br/>
                {% if order.sofort %}
                    If you paid with Sofort, you will be charged within 14 days. Meanwhile you should recieve your order.
                {% endif %}
            </div>
            <div style="width: 100%; float: left;">
                <br /> <br />
                Your order will be shipped to:
                <br />
                <br />
                <b>street:</b> {{ order.address.street }}
                <br />
                <b> number/bus:</b> {{ order.address.houseNumber }}
                <br />
                <b> city:</b> {{ order.address.city }}
                <br />
                <b> country:</b> {{ order.address.country }}
            </div>

            <br />
            <br />
            In case of any issues, questions or remarks you can always reach out to us! 😃
            <br />
            <br />
            <img style="width:200px"
                 src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/logomediumcompressed.png?alt=media&token=cf22daf6-1ef8-43ae-bfd6-ed21ee3fc19c"/>

        </div>
    </body>

</html>
