<h1>overview products</h1>
{{#link-to 'admin.products.new'}}{{md-btn text='add product'}}{{/link-to}}

{{#items-grid data=model itemComponentName="product-card" onClickLinkTo="products.details"}} {{/items-grid}}
{{outlet}}
