<div class="row">
     <div class="col s12">
        <h3>add a product</h3>
        <h4>general info</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                    {{#md-select optionLabelPath="content.value" optionValuePath="content.value" value=productType  content=productTypesList prompt="please provide a type..." }} {{/md-select}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{md-input type="text" class="validate" value=productRanking type="number" validate=true}}
                        <label for="type">product ranking, ranging from 0 (high) to ....</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="input-field col s6 push-s5">
                <a class="waves-effect waves-light btn" {{action 'storeProduct'}}>next</a>
            </div>
        </div>
    </div>
</div>
