{{#fabb-parallax}}
  <h2 class="header center-align"> who we are </h2>
<div class="row">
  <h3 class="center-align col s12 m10 push-m1 ull-m1 center-align"> Fabbrikka creates sustainable fashion. Using organic fabrics and producing locally, we guarantee you wear our clothes with a clean conscience. Together we are working on a better world. Thank you!
 </h3>
</div>

<div class="row">

  <div class="col s12 m6 l6" style="margin-bottom: 3%">
    <div class="row">
      <img class="about-icon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Icoontjesabout%2Fcotton.png?alt=media&token=cb75fb04-f6eb-4ac1-a8fd-4f4809712b83" alt="organiccotton"/>
    </div>
    <h5 class="center-align"> Materials </h5>
    <div class="row">
      <div class="col s12 m10 push-m1 pull-m1 center-align">
        <h3>We purchase fabrics certified with the <a href="http://www.global-standard.org"target="_blank"> GOTS label </a>. Our fabrics contain organic <span class="green-text text-darken-2"> cotton </span> and recycled PET bottles.</h3>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l6" style="margin-bottom: 3%">
    <div class="row">
      <img class="about-icon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Icoontjesabout%2Ffactory.png?alt=media&token=97ae0d79-c970-4c07-b1a2-ed5919a23e95" alt="factory"/>
    </div>
    <h5 class="center-align"> Work place </h5>
    <div class="row">
      <div class="col s12 m10 push-m1 pull-m1 center-align">
        <h3>We work with workshops in the center of Barcelona, that we know and visit in person to guarantee safe working environment.</h3>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col s12 m6 l6" style="margin-bottom: 3%">
    <div class="row">
      <img class="about-icon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Icoontjesabout%2Ffairpay.png?alt=media&token=7276d647-f0f1-42f2-a673-6446a200e211" alt="fairpay"/>
    </div>
    <h5 class="center-align"> Fair pay </h5>
    <div class="row">
      <div class="col s12 m10 push-m1 pull-m1 center-align">
        <h3>We value the work of each person that contributes to our final product, and insist that everyone gets their fair share.</h3>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l6" style="margin-bottom: 3%">
    <div class="row">
      <img class="about-icon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Icoontjesabout%2Fquality.png?alt=media&token=b522e1f5-28ac-41b8-953e-3ae1a894cc93" alt="quality"/>
    </div>
    <h5 class="center-align"> Quality </h5>
    <div class="row">
      <div class="col s12 m10 push-m1 pull-m1 center-align">
        <h3>We produce in small quantities with high quality materials, which results in garments of high quality that you can wear for a long time.</h3>
      </div>
    </div>
  </div>

</div>



    <!-- <div class="row">
      <div class="col s12 m6 l5">
        <h5 class="header center-align">
        Fabrics
      </h5>
      </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l5">
          <h6 class="header center-align">
          We purchase fabrics certified with the GOTS label. Our fabrics contain organic cotton and recycled PET bottles.
        </h6>
        </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="row">
          <div class="col s12 m6 l6 offset-s3 offset-m4 offset-l4">
            <div style="display:table-cell; vertical-align:middle; text-align:center">
            <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/cotton.png?alt=media&token=e1cf77f2-f60f-438d-8985-59f5e48f550c" alt="organiccotton"/>
          </div>
          </div>
        </div>
      </div>
    </div>
        <div class="row">
          <div class="col s12 m6 l5">
            <h5 class="header center-align">
            Fabrics
          </h5>
          </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l5">
              <h6 class="header center-align">
              We purchase fabrics certified with the GOTS label. Our fabrics contain organic cotton and recycled PET bottles.
            </h6>
            </div>
        </div>

  <div class="col s12 m6 l5">
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/factory.png?alt=media&token=01697652-2b97-4c8f-9578-b25ef4bcd200" alt="safeworkingenvironment"/>
  </div>
<div class="row">
  <div class="col s12 m6 l5">
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/fairpay.png?alt=media&token=9b3f60a7-cc58-4cd7-aea8-ed47e2579ddf" alt="fairpay"/>
  </div>
  <div class="col s12 m6 l5">
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/quality.png?alt=media&token=3bea6789-0f4c-4633-a0be-52df931d3606" alt="quality"/>
  </div>
</div> -->
{{/fabb-parallax}}
{{outlet}}





<!-- Dit zijn mijn vertalingen, oh liefste feeltje. Kheb de hele boel gewoon gekopieerd ok?

<div class="mainimage">
<img class="aboutmainimage" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Muuralax.jpeg?alt=media&token=d59f4369-2d6a-479e-b831-128d67a9101a" alt="girlwithcat"/>
</div>
  <h2 class="header center-align"> wie zijn we </h2>
<div class="row">
  <h3 class="center-align col s12 m10 push-m1 ull-m1 center-align"> Fabbrikka maakt duurzame kledij. Wat dat precies inhoudt, zie je hieronder. Samen werken we aan een mooiere wereld. Bedankt!
  </h3>
</div>

<div class="row">

  <div class="col s12 m6 l6" style="margin-bottom: 3%">
    <div class="row">
      <img class="about-icon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Icoontjesabout%2Fcotton.png?alt=media&token=cb75fb04-f6eb-4ac1-a8fd-4f4809712b83" alt="organiccotton"/>
    </div>
    <h5 class="center-align"> Stoffen </h5>
    <div class="row">
      <div class="col s12 m10 push-m1 pull-m1 center-align">
        <h3>We kopen onze stoffen aan bij leveranciers die het <a href="http://www.global-standard.org"target="_blank"> GOTS label</a> dragen. De stoffen bevatten o.m. biologisch katoen en gerecycleerde PET-flessen</h3>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l6" style="margin-bottom: 3%">
    <div class="row">
      <img class="about-icon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Icoontjesabout%2Ffactory.png?alt=media&token=97ae0d79-c970-4c07-b1a2-ed5919a23e95" alt="factory"/>
    </div>
    <h5 class="center-align"> Werkplek </h5>
    <div class="row">
      <div class="col s12 m10 push-m1 pull-m1 center-align">
        <h3>We produceren onze kleding in ateliers in het centrum van Barcelona, waar we een persoonlijke band mee hebben en waarvan we weten dat ze veilig en eerlijk werken.</h3>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col s12 m6 l6" style="margin-bottom: 3%">
    <div class="row">
      <img class="about-icon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Icoontjesabout%2Ffairpay.png?alt=media&token=7276d647-f0f1-42f2-a673-6446a200e211" alt="fairpay"/>
    </div>
    <h5 class="center-align"> Eerlijk Loon </h5>
    <div class="row">
      <div class="col s12 m10 push-m1 pull-m1 center-align">
        <h3>We vinden dat iedereen die bijdraagt aan ons eindproduct verdient wat hem toehoort.</h3>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l6" style="margin-bottom: 3%">
    <div class="row">
      <img class="about-icon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/Icoontjesabout%2Fquality.png?alt=media&token=b522e1f5-28ac-41b8-953e-3ae1a894cc93" alt="quality"/>
    </div>
    <h5 class="center-align"> Kwaliteit </h5>
    <div class="row">
      <div class="col s12 m10 push-m1 pull-m1 center-align">
        <h3>We gebruiken enkel de beste materialen en produceren in kleine hoeveelheden. Onze kleding is dan ook van hoge kwaliteit, zodat jij er lang van kan genieten.</h3>
      </div>
    </div>
  </div>

</div> -->
