{{#fabb-parallax}}
<div class="row">
  <h2 class="header center-align">hello stranger </h2>
  <div class="col s12 m12 l8">
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/vierkantcotton.png?alt=media&token=507d4555-0b09-4aa6-bc41-55f487dfc94f" alt="organiccotton"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/factory.png?alt=media&token=fb6d984d-5344-4864-b5cb-bb51ffe6e126" alt="safeworkingenvironment"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/fairpay.png?alt=media&token=f8df6ea9-70b4-4f17-97f7-5ffe0625dc66" alt="fairpay"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/quality.png?alt=media&token=ae4457b2-a28c-467f-b3fd-a0e8eeb35b10" alt="quality"/>
  </div>
</div>
{{/fabb-parallax}}
{{outlet}}
