<header>
{{locale-select-modal}}
{{#navbar-mat-fabb}}{{/navbar-mat-fabb}}
</header>
<main class="fabb-main">
    {{outlet}}
 </main>
 <footer class="page-footer">
     <div class="row">
         <div class="col l6 s12">
           <span class="grey-text text-lighten-4">fur for people</span>
         </div>
       <div class="col l4 offset-l2 s12">
           <img class="right" style="width: 10%" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/Mastercard-logo.svg?alt=media&token=fd5aa22c-60fd-441f-8560-16eeb42fee7d"/>
           <img class="right" style="width:13%"src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/Visa_Inc._logo.svg?alt=media&token=77c614cd-2d5f-4b42-8c26-bc9165bebbd8"/>
           <img class="right" style="width:10%" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/BC_logo_ORGNL_RGB.png?alt=media&token=7bf69e6e-6318-4c4a-b3c9-cf96c527c219"/>
           <img class="right" style="width:8%" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/IDEAL_Logo.png?alt=media&token=90bd6da5-ae43-486d-8403-612e07fc65ed"/>
       </div>
     </div>
   <div class="footer-copyright">
     © 2017 fabbrikka
   </div>
 </footer>
