<header>
{{locale-select-modal}}
{{#navbar-mat-fabb}}{{/navbar-mat-fabb}}
<div class= "row black quick-header">
    <div class="col s12 center-align">
        sustainable fashion - free shipping europe
    </div>
</div>
{{#if currentlyLoading}}
<div class="progress">
    <div class="indeterminate"></div>
</div>
{{/if}}
{{#if (is-fastboot)}}
<div class="progress">
    <div class="indeterminate"></div>
</div>
{{/if}}
</header>
<main class="fabb-main">
    {{outlet}}
    {{cookies-dialog}}
    <div class="row #bdbdbd grey lighten-1 valign-wrapper" style="height:50px; margin-bottom: 0px">
        <div class="col s6 m6 l6">
          <span class="grey-text text-lighten-4">© 2017 fabbrikka <br><a href="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/TERMS%20OF%20SERVICE.pdf?alt=media&token=565737c1-a4fe-4782-923b-2600b04169bb" target="_blank"><font size="2">Terms &amp; Conditions</font></a></span>
        </div>
        <div class="col s6 m6 l6" >
          <img class= "paymentlogos" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/paymentlogos.png?alt=media&token=ba33f6ce-87d4-4a3e-ad30-36260e756fe6" align= "right"/>
        </div>
    </div>
 </main>
