{{#if (equal-strings locale "en-gb")}}
  <div class="row">
      <h2> Try our stuff out for free! </h2>
  </div>
{{/if}}

{{#if (equal-strings locale "nl-be")}}
<div class="freetrypadding">
    <h2 class="header center-align"> Wil je gratis passen bij jou thuis? </h2>
</div>
    <div class="row">
    <h3 class="center-align col s12 m8 push-m2 pull-m2 justify"> Ja die webshop is wel leuk en zo, maar ik wil toch eerst eens voelen aan een Joss, of een Lulu proberen voor ik met mijn bankkaart zwaai. Goed nieuws: Dat kan! <br><br>Klik je het vakje "gratis passen" aan, dan kan je tot maximum 4 stuks in je mandje leggen. Die kan je dan bij jou thuis laten leveren zonder eerst te betalen. Zo kan je al wat quality time doorbrengen en kijken of jullie bij elkaar passen. <br><br>We vragen wel om je credit card gegevens in te vullen (voorlopig enkel credit card, sorry). Op die manier kunnen we je nadien aanrekenen wat je houdt. <br><br>Stuur ons na maximum 5 dagen een mailtje om te zeggen wat je wil houden en wat niet. Wij geven je instructies om kosteloos terug te sturen wat je niet wil. In het onwaarschijnlijke geval dat je het allemaal maar niks vindt, kan je ook alles terugsturen. No problema.
    <br><br>Veel tekst he. Mocht je het liever in een tekeningetje zien, alsjeblieft: </h3>
</div>
<div class="row">
  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F1kiezen.png?alt=media&token=37d76135-096c-4112-8c5d-919e32f9ebd2" alt="kiezen"/>
      <h5 class="center-align"> 1. Kiezen </h5>
      <h3 class="center-align">Daar kunnen we je niet bij helpen</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F2winkelwagen.png?alt=media&token=8f35b8d0-5f6d-437c-bcb3-e25ff9551430" alt="winkelwagen"/>
      <h5 class="center-align"> 2. Karretje </h5>
      <h3 class="center-align">Leg maximum 4 stuks in je winkelwagen</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F3freeflow.png?alt=media&token=8f5dd401-fdb1-4633-b5d6-d1aa6f16320b" alt="gratisknop"/>
      <h5 class="center-align"> 3. Gratis-knop </h5>
      <h3 class="center-align">Vink het 'gratis' vakje aan bij de checkout en vul je credit card gegevens in.</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F4levering.png?alt=media&token=0e3bdaf3-d593-421f-a531-cda1b8dc6533" alt="levering"/>
      <h5 class="center-align"> 4. Levering </h5>
      <h3 class="center-align">Joepie, pakje is er!</h3>
    </div>
  </div>

</div>

<div class="row">
  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F5passen.png?alt=media&token=04816955-9d9d-49cb-b170-f7abbb6a371a" alt="passen"/>
      <h5 class="center-align"> 5. Passen </h5>
      <h3 class="center-align">Quality time met je Fabbrikka kleren</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F6email.png?alt=media&token=73e6065e-0ad4-48e8-a000-ea06ffa8267d" alt="mailen"/>
      <h5 class="center-align"> 6. Mailen </h5>
      <h3 class="center-align">Na max. 5 dagen stuur je ons een mailtje om te zeggen wat je houdt</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F7ophaling.png?alt=media&token=fa800e70-8cc2-48de-beef-09cf42b0aeea" alt="ophalen"/>
      <h5 class="center-align"> 7. Ophalen </h5>
      <h3 class="center-align">Wat je niet houdt, wordt weer bij je opgehaald</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F8betalen.png?alt=media&token=dd1dc3e9-3494-4802-a355-e875863c3371" alt="betalen"/>
      <h5 class="center-align"> 8. Betalen </h5>
      <h3 class="center-align">Je nieuwe aankopen worden van je credit card afgeschreven</h3>
    </div>
  </div>

</div>
{{/if}}

{{#unless media.isS}}
  {{#md-btn class="btn-back" text='terug' action=(route-action 'back')}}{{/md-btn}}
{{/unless}}

{{outlet}}
