{{#if (equal-strings locale "en-gb")}}
<div class="freetrypadding">
    <h1 class="header center-align"> Want to try at home for free? (BE + NL only) </h1>
</div>
    <div class="row">
    <h3 class="center-align col s12 m8 push-m2 pull-m2 justify">
Yes, I love this webshop! But before I throw my money at you, I'd like to to get touchy feely with Joss, or try on a Lulu. Well, we have good news: That's possible! <br><br>When you tick the "free try" box, you can put up to 4 pieces in your basket. These will be sent to you without paying upfront, so you can spend some quality time together and find out if you are made for each other. <br><br> We only ask you to fill out your credit card details (only credit cards for now, sorry). That way we can charge you afterwards for the pieces you decide to keep. <br><br>After max. 5 days you send us an email saying which pieces you keep and which ones you don't. We will send you instructions to send us back what you don't want, free of charge. In the unlikely case that you don't want to keep anything at all, you simply send everything back. No problema. <br><br>Lots of text, we know. If you prefer to see it in a drawing, here you go: </h3>
</div>
<div class="row">
  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F1kiezen.png?alt=media&token=37d76135-096c-4112-8c5d-919e32f9ebd2" alt="kiezen"/>
      <h5 class="center-align"> 1. Choose </h5>
      <h3 class="center-align">Can't help you with that</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F2winkelwagen.png?alt=media&token=8f35b8d0-5f6d-437c-bcb3-e25ff9551430" alt="winkelwagen"/>
      <h5 class="center-align"> 2. Cart </h5>
      <h3 class="center-align">Put max 4 pces in your shopping cart</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F3freeflow.png?alt=media&token=8f5dd401-fdb1-4633-b5d6-d1aa6f16320b" alt="gratisknop"/>
      <h5 class="center-align"> 3. Free Try box </h5>
      <h3 class="center-align">Tic the "Free try" box and fill out your credit card details</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F4levering.png?alt=media&token=0e3bdaf3-d593-421f-a531-cda1b8dc6533" alt="levering"/>
      <h5 class="center-align"> 4. Delivery </h5>
      <h3 class="center-align">Hurray, package has arrived!</h3>
    </div>
  </div>

</div>

<div class="row">
  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F5passen.png?alt=media&token=04816955-9d9d-49cb-b170-f7abbb6a371a" alt="passen"/>
      <h5 class="center-align"> 5. Fitting  </h5>
      <h3 class="center-align">Quality time with your Fabbrikka favourites</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F6email.png?alt=media&token=73e6065e-0ad4-48e8-a000-ea06ffa8267d" alt="mailen"/>
      <h5 class="center-align"> 6. E-mail </h5>
      <h3 class="center-align">After max. 5 days, send us an email saying which items you want to keep</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F7ophaling.png?alt=media&token=fa800e70-8cc2-48de-beef-09cf42b0aeea" alt="ophalen"/>
      <h5 class="center-align"> 7. Pick-up </h5>
      <h3 class="center-align">Free pick-up of what you don't want to keep</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F8betalen.png?alt=media&token=dd1dc3e9-3494-4802-a355-e875863c3371" alt="betalen"/>
      <h5 class="center-align"> 8. Payment </h5>
      <h3 class="center-align">The amount of your new purchases will be deducted from your credit card</h3>
    </div>
  </div>

</div>
{{/if}}

{{#if (equal-strings locale "nl-be")}}
<div class="freetrypadding">
    <h1 class="header center-align"> Wil je gratis passen bij jou thuis? </h1>
</div>
    <div class="row">
    <h3 class="center-align col s12 m8 push-m2 pull-m2 justify"> Ja die webshop is wel leuk en zo, maar ik wil toch eerst eens voelen aan een Joss, of een Lulu proberen voor ik met mijn bankkaart zwaai. Goed nieuws: Dat kan! <br><br>Klik je het vakje "gratis passen" aan, dan kan je tot maximum 4 stuks in je mandje leggen. Die kan je dan bij jou thuis laten leveren zonder eerst te betalen. Zo kan je al wat quality time doorbrengen en kijken of jullie bij elkaar passen. <br><br>We vragen wel om je credit card gegevens in te vullen (voorlopig enkel credit card, sorry). Op die manier kunnen we je nadien aanrekenen wat je houdt. <br><br>Stuur ons na maximum 5 dagen een mailtje om te zeggen wat je wil houden en wat niet. Wij geven je instructies om kosteloos terug te sturen wat je niet wil. In het onwaarschijnlijke geval dat je het allemaal maar niks vindt, kan je ook alles terugsturen. No problema.
    <br><br>Veel tekst he. Mocht je het liever in een tekeningetje zien, alsjeblieft: </h3>
</div>
<div class="row">
  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F1kiezen.png?alt=media&token=37d76135-096c-4112-8c5d-919e32f9ebd2" alt="kiezen"/>
      <h5 class="center-align"> 1. Kiezen </h5>
      <h3 class="center-align">Daar kunnen we je niet bij helpen</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F2winkelwagen.png?alt=media&token=8f35b8d0-5f6d-437c-bcb3-e25ff9551430" alt="winkelwagen"/>
      <h5 class="center-align"> 2. Karretje </h5>
      <h3 class="center-align">Leg maximum 4 stuks in je winkelwagen</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F3freeflow.png?alt=media&token=8f5dd401-fdb1-4633-b5d6-d1aa6f16320b" alt="gratisknop"/>
      <h5 class="center-align"> 3. Gratis-knop </h5>
      <h3 class="center-align">Vink het 'gratis' vakje aan bij de checkout en vul je credit card gegevens in.</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F4levering.png?alt=media&token=0e3bdaf3-d593-421f-a531-cda1b8dc6533" alt="levering"/>
      <h5 class="center-align"> 4. Levering </h5>
      <h3 class="center-align">Joepie, pakje is er!</h3>
    </div>
  </div>

</div>

<div class="row">
  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F5passen.png?alt=media&token=04816955-9d9d-49cb-b170-f7abbb6a371a" alt="passen"/>
      <h5 class="center-align"> 5. Passen </h5>
      <h3 class="center-align">Quality time met je Fabbrikka kleren</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F6email.png?alt=media&token=73e6065e-0ad4-48e8-a000-ea06ffa8267d" alt="mailen"/>
      <h5 class="center-align"> 6. Mailen </h5>
      <h3 class="center-align">Na max. 5 dagen stuur je ons een mailtje om te zeggen wat je houdt</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F7ophaling.png?alt=media&token=fa800e70-8cc2-48de-beef-09cf42b0aeea" alt="ophalen"/>
      <h5 class="center-align"> 7. Ophalen </h5>
      <h3 class="center-align">Wat je niet houdt, wordt weer bij je opgehaald</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F8betalen.png?alt=media&token=dd1dc3e9-3494-4802-a355-e875863c3371" alt="betalen"/>
      <h5 class="center-align"> 8. Betalen </h5>
      <h3 class="center-align">Je nieuwe aankopen worden van je credit card afgeschreven</h3>
    </div>
  </div>

</div>
{{/if}}

{{#if (equal-strings locale "de-de")}}
<div class="freetrypadding">
    <h2 class="header center-align"> Möchtest Du unsere Mode unverbindlich zuhause anprobieren? <br><br>(derzeit nur in BE + NL) </h2>
</div>
    <div class="row">
    <h3 class="center-align col s12 m8 push-m2 pull-m2 justify">
Ja, der Webshop schaut gut aus. Aber bevor ich meine Kreditkarte heraushole, würde ich gerne erst mal mit Joss auf Tuchfühlung gehen, oder Lulo anprobieren... Kein Problem, das lässt sich einrichten.
<br><br>Wenn Du nach Belgien oder in die Niederlande bestellst, markiere das Kästchen "Gratis-Anprobe" und lege bis zu 4 Artikel in Deinen Warenkorb. Wir senden Dir diese 4 Artikel ohne Vorauszahlung zu. So kannst Du Dir Zeit nehmen, um sie kennenzulernen, und um zu entscheiden, ob ihr für einander bestimmt seid.
<br><br> Du musst lediglich Deine Kreditkartendaten angeben (derzeit können wir leider keine anderen Zahlungesmethoden annehmen), damit wir Dir die Artikel, die Du behalten möchtest, verrechnen können.
<br><br>Sende uns innerhalb von 5 Tagen eine E-Mail und lass uns wissen, welche Artikel Du behalten möchtest und welche nicht. Wir senden Dir dann Anweisungen für die (natürlich kostenlose) Rücksendung zu. Für den unwahrscheinlichen Fall, dass Du nichts behalten möchtest, schickst Du einfach alles zurück. No Problemo.
<br><br>Keine Lust auf Lesen? Hier zeigen wir Dir in Bildern, wie es geht: </h3>
</div>
<div class="row">
  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F1kiezen.png?alt=media&token=37d76135-096c-4112-8c5d-919e32f9ebd2" alt="kiezen"/>
      <h5 class="center-align"> 1. ARTIKEL AUSWÄHLEN </h5>
      <h3 class="center-align">Hier können wir Dir leider nicht helfen</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F2winkelwagen.png?alt=media&token=8f35b8d0-5f6d-437c-bcb3-e25ff9551430" alt="winkelwagen"/>
      <h5 class="center-align"> 2. WARENKORB </h5>
      <h3 class="center-align">Lege bis zu 4 Artikel in Deinen Warenkorb</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F3freeflow.png?alt=media&token=8f5dd401-fdb1-4633-b5d6-d1aa6f16320b" alt="gratisknop"/>
      <h5 class="center-align"> 3. GRATIS-ANPROBE </h5>
      <h3 class="center-align">Markiere das Kästchen "Gratis-Anprobe" und gib Deine Kreditkartendaten an</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F4levering.png?alt=media&token=0e3bdaf3-d593-421f-a531-cda1b8dc6533" alt="levering"/>
      <h5 class="center-align"> 4. LIEFERUNG </h5>
      <h3 class="center-align">Juhuu, das Paket ist angekommen</h3>
    </div>
  </div>

</div>

<div class="row">
  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F5passen.png?alt=media&token=04816955-9d9d-49cb-b170-f7abbb6a371a" alt="passen"/>
      <h5 class="center-align"> 5. ANPROBE  </h5>
      <h3 class="center-align">Gehe mit Deinen Lieblingsstücken von Fabbrikka auf Tuchfühlung</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F6email.png?alt=media&token=73e6065e-0ad4-48e8-a000-ea06ffa8267d" alt="mailen"/>
      <h5 class="center-align"> 6. E-MAIL </h5>
      <h3 class="center-align">Sende uns innerhalb von 5 Tagen eine E-Mail und lass uns wissen, welche Artikel Du behalten möchtest</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F7ophaling.png?alt=media&token=fa800e70-8cc2-48de-beef-09cf42b0aeea" alt="ophalen"/>
      <h5 class="center-align"> 7. ABHOLUNG </h5>
      <h3 class="center-align">Die Artikel, die Du zurücksendest, werden kostenfrei abgeholt</h3>
    </div>
  </div>

  <div class="col s6 m3 l3 valign-wrapper" style="margin-bottom: 3%">
    <div class="col s12 m12 l12 center-align">
      <img class="freeflowicon" src="https://firebasestorage.googleapis.com/v0/b/fabbrikka.appspot.com/o/freeflowicons%2F8betalen.png?alt=media&token=dd1dc3e9-3494-4802-a355-e875863c3371" alt="betalen"/>
      <h5 class="center-align"> 8. ZAHLUNG </h5>
      <h3 class="center-align">Der Betrag der Artikel, die Du behältst, wird von Deiner Kreditkarte abgebucht</h3>
    </div>
  </div>

</div>
{{/if}}

{{#unless media.isS}}
  <div class="row">
    <div class="col s12">
      {{#md-btn class="btn-back" text=(t "components.buttons.back") action=(route-action 'back')}}{{/md-btn}}
    </div>
  </div>
{{/unless}}

{{outlet}}
