{{#fabb-parallax}}
      <h2 class="header">fur for humans</h2>
      {{#items-grid data=model itemComponentName="product-card"  onClickLinkTo="products.details"}} {{/items-grid}}
{{/fabb-parallax}}
{{outlet}}
