{{#fabb-parallax}}
    {{#unless media.isS }}
      <h2 class="header center-align">chapter one - fur for people</h2>
     {{else}}
      <h3 class="header center-align">chapter one</h3>
      <h2 class="header center-align">fur for people</h2>
     {{/unless}}
      {{#items-grid data=model itemComponentName="product-card"  onClickLinkTo="products.details"}} {{/items-grid}}
{{/fabb-parallax}}
{{outlet}}
