{{#fabb-parallax}}
    {{#unless media.isS }}
      <h2 class="header center-align">collection one - fur for people</h2>
     {{else}}
      <h3 class="header center-align">collection one</h3>
      <h1 class="center-align">fur for people</h1>
     {{/unless}}
      {{#items-grid data=model itemComponentName="product-card"  onClickLinkTo="products.details"}} {{/items-grid}}
{{/fabb-parallax}}
<!-- {{cookies-dialog}} -->
{{outlet}}
